@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins:ital,wght@1,100&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
  scroll-behavior: smooth;
  cursor: url(cursor.png), auto !important;
}

body{
  background: #FEEAFF;
  overflow-x: hidden;
}

.gotobtn{
  position: fixed;
  width: 60px;
  height: 60px;
  background: #B05DB6;
  bottom: 30px;
  right: 30px;
  border-radius: 50px;
  z-index: 99;
}
.gotobtn i{
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  color: rgba(250, 250, 255, 1);
  padding-left: 10px;
  font-size: 25px;
  padding-top: 10px;
}
.gotobtn i:hover{
  color: rgba(25, 85, 152, 1);
}

/*HEADER--------------------------------------------------------*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logotitle{
    font-size: 2em;
    color: #EA8FC6;
    pointer-events: none;
}
.navigation a{
    text-decoration: none;
    color: #B05DB6;
    padding: 5px 15px;
    margin: 0 15px;
    font-weight: 600;
    border-radius: 20px;
}
.navigation a:hover, .navigation a.active{
  background: #EC8BC4;
  color: #fff;
}

/*SECTION 1--------------------*/
.section1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#bgvideo2 {
    position: fixed;
    width: 100vw;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -1;
}
#schedule {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}











/*FOOTER-------------------------------------*/
footer{
    width: 100%;
    position: relative  ;
    bottom: 0;
    background: linear-gradient(rgba(254,234,255,1), rgba(238,239,255,1));
    padding: 30px 0 30px;
    font-size: 20px;
    line-height: 20px;
  }
  .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  
  }
  .contact{
      margin-bottom: 50px;
  }
  .col{
    flex-basis: 25%;
    padding: 10px;
  }
  .logofooter{
    width: 100%;
    margin: 0 auto 10px auto; 
  }
  .col h3{
    width: fit-content;
    margin-bottom: 15px;
    position: relative;
  }
  
  .row p, .row h4 {
    text-indent: 30px;
  }
  
  .row h4{
    margin-bottom: 5px;
  }
  
  .col ul li{
    margin-bottom: 5px;
  }
  .custom-bullet {
    margin-bottom: 5px;
    list-style-type: none; /* Hide default bullet point */
    text-indent: 30px;
  }
  .custom-bullet li::before {
    content: '🌟'; /* Insert star emoji */
    margin-right: 0.5em; /* Adjust spacing between emoji and text */
  }
  hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 25px auto;
  }
  .copyright{
    text-align: center;
  }
  